body {
    background-color:rgba(48, 11, 82, 0.8);
}

.hdr {
    padding: 0 16px;
    height: 70px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hdr h2 {
    font-family: 'Integral CF';
    font-weight:lighter;
    font-size: 36px;
    color: white;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

main {
    display: block;
    padding: 18px;
    margin: 20px auto;
    width: 500px;
    height: auto;
    border: none;
    border-radius: 8px;
    background-image: url("bkgrnd.jpg"); opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
}

#taskInput {
    background-color: rgb(230, 238, 230);
    color: rgba(23, 21, 21, 0.8);
    border-radius: 8px;
    opacity: 1;
}

#taskInput:focus {
    background-color: rgb(191, 198, 191);
    color: rgb(35, 34, 34);
    border: 1px solid black;
    opacity: 1;
}

.btn {
    background-color: rgb(102, 67, 193);
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding: 18px auto;
    border: none;
    border-radius: 8px;
    opacity: 1;
}

.btn:hover {
    background-color: rgb(63, 42, 119);
}

#taskList {
    display: block;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    gap: 5px;
    background-color: rgb(203, 191, 191);
    color: black;
    font-size: 24px;
    border-radius: 8px;
    opacity: 1;
}

@media (max-width: 1000px) and (orientation: portrait) {
    .hdr {
        position: sticky;
        top: 0;
        left: 0;
    }

    main {
        width: 90%;
        height: auto;
        max-width: 500px;
        overflow: auto;
    }
}
